# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
/server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment Variables


# OS specific files
.DS_Store
Thumbs.db
